//===============================================//
/*Vars Page All*/
//===============================================//
$default-font: Arial, "Helvetica Neue", Helvetica, sans-serif;

$accent: #0051ff;
$text: #231f20;
$background-color: #fff;
