//===============================================//
/*Vars Page All*/
//===============================================//
@import "vars";

//===============================================//
/*Fonts Style*/
//===============================================//

// @import "_mixins/font-fase";
// @include font("AcariSans", normal, 400, "../fonts/AcariSans-Regular.woff2");

//===============================================//
/*LIBS Packege*/
//===============================================//
@import "./node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "./node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./node_modules/bootstrap/scss/utilities/sizing";

@import "./node_modules/swiper/swiper.min";
@import "./node_modules/nouislider/dist/nouislider.min";

//===============================================//
/*Base Style Page*/
//===============================================//
::selection {
  background-color: $accent;
  color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;

  font-size: 14px;
  line-height: 1.4;
  font-family: $default-font;
  font-weight: 400;

  color: $text;
  background-color: $background-color;

  // input,
  // textarea {
  //   border: #666 1px solid;
  //   outline: none;
  //   box-shadow: none;

  //   &:focus:required:invalid {
  //     border-color: transparent;
  //     box-shadow: none;
  //   }

  //   &:required:valid {
  //     border-color: transparent;
  //     box-shadow: none;
  //   }
  // }
}

//===============================================//
/*DEFAULT STYLE*/
//===============================================//
a {
  text-decoration: none;
  color: $text;

  &:hover {
    text-decoration: none;
    color: $text;
  }
}

button {
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

b,
strong {
  font-weight: bold;
}

section {
  position: relative;
}

//===============================================//
/* Class repead -- static style*/
//===============================================//

// TEXT--------------------
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// DISPLAY BLOCK--------------------
.display-block {
  display: block;
}

.margin-0-auto {
  margin: 0 auto;
}

// DISPLAY INLINE--------------------
.display-inlblock {
  display: inline-block;
}

// COLOR--------------------
.color-white {
  color: #fff;
}

.color-black {
  color: #fff;
}

// BACKGROUND COLOR--------------------
.bg-color-white {
  color: #fff;
}

.bg-color-black {
  color: #000;
}

// BACKGROUND IMAGE--------------------
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// IMAGE--------------------
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

// ICON--------------------
.icon {
  display: inline-block;
}

//===============================================//
/* Libs Style All */
//===============================================//
.goodsslid_itm:hover,
.goodsslid_itm:active,
.goodsslid_itm:focus {
  box-shadow: inset 0 0 0 1px #0051ff;
}

.mainslid_itm a,
.bltemplate_col a .articlebl a {
  display: block;
}

.search_trig_img:hover svg path,
.search_trig_img:hover svg circle,
.searchbox_iconsearch:hover svg path,
.searchbox_iconsearch:hover svg circle {
  stroke: #ff4d00;
}

.accincomemess_date {
  margin-bottom: 10px;
  font-size: 16px;
}

.accincomemess .accincomemess_title {
  margin-bottom: 30px;
}

.headtop {
  background: #0944c2;
}

/* .footertop_listother .footertop_link {
  color: #ffffff !important;
} */

.dropmnpc_nav .dropmnpc_link {
  position: relative;
}

.dropmnpc_link:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000000;
  bottom: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.dropmnpc_navtitle {
  font-weight: 700 !important;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.cartout_infout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dropmnpc_nav .dropmnpc_link {
  color: #76818b;
}

.dropmnpc_link:hover,
.dropmnpc_link:active,
.dropmnpc_link:active {
  opacity: 1;
  color: #000000;
}

.dropmnpc_link:hover::before,
.dropmnpc_link:active::before,
.dropmnpc_link:active::before {
  opacity: 1;
  color: #000000;
}

.js-field-error {
  input,
  .form_inpt_el {
    border-color: #ff4d00;
    color: #ff4d00;
    &::placeholder {
      color: #ff4d00;
    }
    &:focus {
      color: #000 !important;
    }
    &:required:focus {
      border-color: #ff4d00;
      color: #ff4d00;
    }
  }
  span {
    color: #ff4d00 !important;
  }
}

.cont_navitm_link.is-active {
  font-weight: 700;
}

// новый элемент - сворачивающийся блок
.accordeeon-btn {
  display: none;
}

.accordeeon-btn__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #231f20;
  pointer-events: none;
}
.accordeeon-btn__icon {
  pointer-events: none;
}

@media (max-width: 768px) {
  .wrapper-accordion {
    border-bottom: 1px solid rgba(35, 31, 32, 0.1);
    /* &.active {
    border-bottom: none;
  } */
    &:last-child {
      border-bottom: none;
    }
  }
  .product__info .product__info-prcie {
    margin-bottom: 0;
  }
  .accordeeon-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 22px 0;
    width: 100%;
    background-color: #fff;
  }

  .accordeeon-btn__icon {
    transition: transform 0.5s ease;
  }

  .active .accordeeon-btn__icon {
    transform: rotate(180deg);
  }

  .accordeeon-content {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease-in-out;
  }

  .product__specifications-title,
  .product__descr-title {
    display: none;
  }
  .wrapper-accordion .product__specifications-list {
    margin-bottom: 0;
    padding-bottom: 26px;
  }
}
